<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<param name="threshold" value="DEBUG" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d\t%5p %C - %m%n" />
		</layout>
	</appender>

	<appender name="file" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="sample.log" />
		<param name="Encoding" value="UTF-8" />
		<param name="threshold" value="INFO" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p: %l - %m%n" />
		</layout>
	</appender>

	<root>
		<priority value="DEBUG" />
		<appender-ref ref="file" />
		<appender-ref ref="STDOUT" />
	</root>

</log4j:configuration>